[Unit]
Description=Wiki.js Service
After=network.target

[Service]
Type=simple
Environment=NODE_ENV=production
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/bin/node server
Restart=always
User=root
Group=root
WorkingDirectory={{ wikijs_install_dir }}
SyslogIdentifier=wikijs

[Install]
WantedBy=multi-user.target
